

.primero{
          height: 200px;
          width: 200px;
          background-color:#ED462F;
          position: static;
         }

.segundo{
          height: 120px;
          width: 120px;
          background-color:#752E80;
          position: absolute;
          left: 47px;
          top:47px;
         }

.tercero{
          height: 60px;
          width: 60px;
          background-color:#FFF835;
         }
  